{% extends 'ordersapp/base.html' %}
{% load static %}

{% block container %}
    {% if not object_list %}
        <div class="h2 text-center head">
            No orders
        </div>
    {% else %}
        <div class="h2 text-center head">
            Your orders, {{ user.first_name|default:'user'|title }}
        </div>
        <table class="table orders_list">
            <thead>
            <tr>
                <th>ID</th>
                <th>Create</th>
                <th>Update</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr>
                    <td class="td1 orders_list">{{ item.pk }}</td>
                    <td>{{ item.add_date|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.update_date|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>
                        <a href="{% url 'orders:read' item.pk %}">
                            Read
                        </a>
                    </td>
                    <td>
                        {% if item.is_forming %}
                            <a href="{% url 'orders:update' pk=item.pk %}">
                                Edit
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.is_forming %}
                            <a href="{% url 'orders:delete' item.pk %}">
                                Delete
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a href="{% url 'general:home' %}"
       class="btn btn-default btn-round">
        main menu
    </a>

    <a href="{% url 'orders:create' %}"
       class="btn btn-default btn-round">
        new
    </a>

{% endblock %}