{% if object.pk %}
    <div class="h2">Order №{{ object.pk }} от {{ object.created|date:"Y-m-d H:i:s" }}</div>
    <hr>
    <div class="h4">Client: {{ user.last_name }} {{ user.first_name }} </div>
    <div class="h4">Update: {{ object.update_date|date:"Y-m-d H:i:s" }}</div>
    <div class="h4">Status: {{ object.get_status_display }}</div>
    <hr>
    <div class="h4">
        total quantity: <span class="order_total_quantity">{{ object.total_quantity }}</span>
    </div>
    <div class="h3">
        total cost: <span class="order_total_cost">{{ object.total_cost }}</span> rub
    </div>
{% else %}
    <div class="h2">New order</div>
    <hr>
    <div class="h4">Client: {{ user.last_name }} {{ user.first_name }} </div>
    {% if user.basket_set %}
        <div class="h4">
            total quantity: <span class="order_total_quantity">{{ user.basket_qty }}</span>
        </div>
        <div class="h3">
            total cost: <span class="order_total_cost">{{ user.basket_price }}</span> rub
        </div>
    {% endif %}
{% endif %}
<hr>