{% extends 'adminapp/base.html' %}
{% load static %}

{% block container %}
    <div class="product_read">
        <div class="product_name">Product
            <strong>
                {{object.category.name|title}} / {{object.name|title}}
            </strong>
        </div>
        <img src="/media/{{ object.image|default:'products_img/default.jpeg' }}" alt="{{object.name}}">
        <div class="summary">
            <b>price - {{ object.price}}</b>
            <b>quantity - {{object.quantity}}</b>
            <b>Catalog</b>
            <p>{% if object.is_active %}yes{% else %}no{% endif %}</p>
            <p>
                <a href="{#% url 'new_admin:product_update' pk=object.pk %#}">update</a>
            </p>
            <p>
                <a href="{#% url 'new_admin:product_delete' pk=object.pk %#}">delete</a>
            </p>
            <p>
                <a href="{% url 'new_admin:category_products' object.category_id %}"
                class="btn btn-default"> back</a>
            </p>
        </div>
        <div class="product_desc">
            <b>information</b>
            <br>
            <p>{{ object.description }}</p>
        </div>
    </div>
{% endblock %}