{% extends 'authapp/base.html' %}
{% load static %}

{% block container %}
    <div class="h2 text-center head">
        Вход в систему
    </div>

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        {% if redirect_to %}
        <input type="hidden" name="redirect-to" value="{{ redirect_to }}">
        {% endif %}
        <input class="form-control" type="submit" value="enter">
    </form>
    <a href="{% url 'auth:register' %}"
       class="btn btn-round form-control">registration</a>
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-round form-control">
                GOOGLE+
            </a>
            <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/" class="btn btn-round form-control">
                VK
            </a>
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-round form-control">
                facebook
            </a>
{% endblock %}


