{% extends 'authapp/base.html' %}
{% load static %}

{% block container %}
    <div class="h2 text-center head">
        Редактирование профиля
    </div>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="save">
    </form>
    <a href="{% url 'general:home' %}"
       class="btn btn-round form-control">
        main menu
    </a>
{% endblock %}
